@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Inter', sans-serif;
}
/* swiper */
.swiper {
	width: 100%;
	height: 300px;
	margin: 20px auto;
	}
	
/*  */
.nav-link{
	color: #0D0A19;
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: -0.1px;
	margin-left: 20px;
}
.sign-Up{
	color: #9A9EA7;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.sign-Up img{
	color: #9A9EA7;
	background-color: #F5F6F7;
	border-radius: 10px;
	width: 32px;
	height: 32px;
	padding: 5px 8px;
	margin-right: 5px;
}

/* hero section */
.hero{
	background-image: url(img/hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 560px;
}
.backdrop{
	box-shadow: 0px 0px 5px 3px rgba(18, 10, 52, 0.70);
}
.hero h1{
	color: #FFF;
	text-align: center;
	font-size: 64px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 74px;
	letter-spacing: -0.305px;
	padding-top: 150px;
}
.hero p{
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	margin-top: 25px;
}
.row {
    --bs-gutter-x: 2.5rem;
}
.top-footer-section {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
    max-width: 80%;
    height: 80px;
    position: absolute;
    margin: -40px auto;
    z-index: 99;
	width: 73%;
	left: 8.5%;
	right: 8.5%;
}

.borderRight{
	border-right: 1px solid #ede8e9;
	height: 40px;
	margin-top: 20px;
}
.someMargin{
	margin-top: 20px;
}
#menuP{
	margin-left: 20px;
}
#menuS{
	margin-left: 12px;
}
#menuS2{
	padding-left: 0px;
}
#menuS3{
	margin-top: 3px;
}
#menuS4{
	margin-top: 3px;
}
#menuS5{
	margin-top: 22px;
}
.top-footer-section p{
	color: var(--greys-9-a-9-ea-7, #9A9EA7);
	font-size: 12px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.1px;
}
.top-footer-section .form-select{
	color: var(--0-d-0-a-19-primary, #0D0A19);
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
	border: none;
	margin-top: -10px;
}
.withoutp{
	top:40px;
	color: var(--greys-9-a-9-ea-7, #9A9EA7);

	/* Regular / 14px / Bold */
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.searchbtn{
	
	padding: 17px;
	margin-left: -10px;

}
.header-button{
	border-radius: 10px;
	background: var(--7963-f-0-primary, #7963F0);
	padding: 8px 15px;
	margin-top: 4px;
	color: var(--ffffff, #FFF);

	/* Regular / 14px / Bold */
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.header-button img{
	margin-top: -2px;
	margin-right: 6px;
}
.section2{
	margin-top: 120px;
	margin-bottom: 80px;
}
.col-md-2.thirdLogo {
    padding-top: 10px;
}
.col-md-2.fifthLogo {
    padding-top: 5px;
}
.section3 h3{
	color: #0D0A19;
	font-size: 28px;
	font-family: Inter;
	font-style: normal;
	text-align: center;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.1px;
	margin-bottom: 50px;
}
.section3 h5{
	color: #0D0A19;
	font-size: 18px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	margin-top: 10px;
}
.section3 p{
	color: #9A9EA7;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.card{
	border: none !important;
	margin: 10px 5px;
}
.button1{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), #7963F0;
	color: #7963f0 !important;
	border-radius: 8px !important;
	font-weight: 500 !important;
	font-family: Inter;
	font-style: normal !important;
	font-size: 14px !important;
	line-height: 21px !important;
	text-align: center !important;
	letter-spacing: -0.1px !important;
}
.button2{
	background-color: #f5f6f7 !important;
	color: #9A9EA7 !important;
	border-radius: 8px !important;
	font-weight: 500 !important;
	font-family: Inter;
	font-style: normal !important;
	font-size: 14px !important;
	line-height: 21px !important;
	text-align: center !important;
	letter-spacing: -0.1px !important;
}

/* Section 4 area */
.section4{
	margin-top: 90px;
	margin-bottom: 100px;
}
.findCarHeader{
	width: 90%;
	height: 60px;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 30px;
}
.findCar{
	color: #0D0A19;
	font-size: 28px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.1px;
}
.arrowArea{
	color: #9A9EA7;
	text-align: right;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: -60px;
}
.pagination {
	float: right;
	margin-bottom: -30px;
	padding-top:5px;
}
p.arrowArea img {
    margin-bottom: 70px;
}
header p span{
	margin: 0px 5px;
	height: 30px;
}
.arrowArea {
    margin-top: 15px;
}
.arrowArea img{
	border-radius: 10px;
	background: var(--greys-f-5-f-6-f-7, #F5F6F7);
	padding: 10px;
}
.sedan{
	color: #0D0A19;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	font-weight: 700;
	line-height: 24px;
}
.proBtn{
	color: #9A9EA7 !important;
	background: var(--greys-f-5-f-6-f-7, #F5F6F7);
}
/* find car by section */
.find-nav{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.find-nav h3{
	color: #0D0A19;
	font-family: Inter;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: -0.1px;
}

.btn-find{
	color: var(--greys-9-a-9-ea-7, #9A9EA7);
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.btn-1{
	display: flex;
	width: 30%;
	height: 40px;
	padding: 8px 26.486px 11px 28.514px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.btn-2{
	width: 22.5%;
	height: 40px;
	flex-shrink: 0;
}
.btn-3{
	display: flex;
	width: 24.5%;
	height: 40px;
	padding: 8px 30.5px 11px 30.5px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.btn-4{
	display: flex;
	width: 24.5%;
	height: 40px;
	padding: 8px 24.5px 11px 25.5px;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}
.active{
	color: var(--0-d-0-a-19-primary, #0D0A19);
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
	border-radius: 8px;
	border: 1px solid var(--outline, #EEE);
	background: var(--ffffff, #FFF);
	padding-left: 25px;
	padding-right: 25px;
}
.midCol{
    width: 30% ;
}
.lastCol{
	margin-top: 40px;
}
.findCarCol{
	margin-left: 30px;
}
.popularP{
	color: #9A9EA7;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: -0.1px;
	margin-bottom: 50px;
	margin-left: -30px;
}
.popularP1{
	margin-left: 20px;
}
.findCarCol2{
	margin-left: 40px;
}
.findItem{
	display: flex;
	margin-bottom: 35px;
}
.brand1 img{
	margin-top: 12px;
	width: 42px;
	height: 22px;
}
.brand2 img{
	width: 35.961px;
	height: 36px;
	margin-right: 4px;
	margin-top:5px
}
.brand3 img{
	width: 46px;
	height: 22px;
	margin-right: -4px;
	margin-top: 12px;
}
.middleArrow img{
	margin-left: 145px;
	width: 20px;
	height: 20px;
}
.brand4 img{
	width: 38px;
	height: 38px;
	margin-right: 4px;
	margin-top: 4px;
}
.findDes{
	margin-left: 30px;
}
.brandName{
	color: #0D0A19;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
}
.num{
	color: #9A9EA7;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin-top: -15px;
	line-height: 21px;
	letter-spacing: -0.1px;
}
.findDes1{
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}
.num1{
	margin-top: 10px;
	margin-right: 15px;
}
.popularP1{
	margin-bottom: 20px !important;
}
.Subaru{
	color: #0D0A19;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 35px;
}
.footer{
	background: var(--greys-f-5-f-6-f-7, #F5F6F7);
	margin-top: 100px;
}
.footer .container{
	padding-top: 56px;
}
.footer p{
	color: var(--greys-9-a-9-ea-7, #9A9EA7);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: -0.1px;
}
.footerHead{
	color: var(--0-d-0-a-19-primary, #0D0A19) !important;
	font-weight: 700 !important;
	line-height: 21px !important;
}
.copyright .container{
	display: flex;
	justify-content: space-between;
}
.copyright p{
	color: var(--greys-9-a-9-ea-7, #9A9EA7);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin: 20px;
}
.copyright .privacy{
	color: var(--0-d-0-a-19-primary, #0D0A19);
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: -0.1px;
}
/* hover effect */
.btn {
	transition: background-color 0.3s ease;
}

.btn:hover{
	border-radius: 8px;
	background: #0D0A19 !important;
	color: white !important;
}
.button1:hover{
	border-radius: 8px;
	background: #7963f0 !important;
	color: white !important;
}





@media all and (max-width: 1080px) {
	.header-button{
		padding: 8px;
	}
	.header-button img {
		margin-top: -2px;
		margin-right: 3px;
	}
	.searchbtn{
		font-size: 10px;
		padding: 17px;
		
	}
}
@media all and (max-width: 960px) {
	.header-button img {
		margin-top: 1px;
		width: 16px;
		padding-bottom: 2px;
	}
	
	.header-button {
		margin-top: -1px;
		font-size: 14px;
		line-height: 10px;
	}
	.searchbtn{
		margin-top: 0px;
	}
	.footer{
		text-align: center;
	}
	.footerHead{
		margin-top: 20px;
	}
	.lastP{
		margin-bottom: 30px;
	}
	
}
@media all and (max-width: 767px) {
	.hero h1{
		font-size: 38px ;
	}
	.hero p{
		font-size: 16px;
	}
	.top-footer-section{

		height: 380px;
		margin-top: -50px !important;

	}
	.top-footer-section .borderRight{
		border-right: none;
	}
	.top-footer-section p{
		margin-left: 20px;
	}
	#menuS2{
		margin-left: 12px;
		padding-left: 9px;
	}
	#menuS3{
		margin-top: 12px;
	}
	.top-footer-section .form-select{
		margin-left: 12px;
		width: 96%;
	}
	.header-button{
		width: 95%;
		padding: 10px 5px;
		margin-left: 10px;
	}
	.section2{
		margin-top: 360px;
	}
	.section2 img{
		margin-top: 20px;
	}
	.row {
		--bs-gutter-x: -5% !important;
	}
	.lastCard{
		margin-bottom: 0px !important;
	}
	.find-nav{
		display: block;
		text-align: center;
	}
	.find-nav h3{
		margin-bottom: 30px;
	}
	.lastCol{
		display: none;
	}
	.findItem1{
		margin-left:50%;
	}
	.num1{
		margin-right: -250%;
	}
	.middleArrow{
		margin-left: -34%;
	}
}

@media all and (max-width: 420px) {
	.swiper-pagination-fraction{
		width: 105% !important;
	}
	.hero h1{
		font-size: 32px ;
	}
	.hero p{
		font-size: 15px;
	}
	.header-button {
		width: 94%;
		margin-left: 7.5%;
	}
	.section4{
		margin-bottom: 30px;
	}
	.findCarCol2 {
		margin-left: 5%;
	}
	.middleArrow {
		margin-left: -51%;
	}
	.popularP1 {
		margin-left: 50px;
	}
	.btn, p{
		font-size: 10px !important;
	}
}

@media all and (max-width: 395px) {
	.findCar{
		font-size: 22px;
	}
	.arrowArea{
		margin-right: -20px;
	}
	.swiper-pagination-fraction{
		width: 92% !important;
	}
	.findCar{
		margin-top: 10px !important;
	}
	.pagination{
		padding-right: 15px;
	}
	.find-nav h3{
		font-size: 22px;
	}
}